body {
  background-color: #1e1e1e;
  color: cyan;
}

#url {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 600px;
  border: 1px solid cyan;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: cyan;
  outline: none;
  background-color: transparent;
}

#load {
  border: 1px solid cyan;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
  color: cyan;
  padding: 5px;
  margin-top: 10px !important;
}

input:focus,
input:focus-visible,
input:focus-within {
  outline: none;
}

#result {
  display: none;
  border: 1px solid cyan;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: rgba(0, 255, 255, 0.342);
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

table {
  font-family: monospace;
}

/* ----- */
.tab {
  overflow: hidden;
  border: 1px solid cyan;
  background-color: transparent;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  text-decoration: underline;
}

/* Create an active/current tablink class */
.tab button.active {
  font-weight: bold;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid cyan;
  border-top: none;
}

.tablinks {
  color: cyan
}

#reporting {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 600px;
  display: none;
  left: 16%;
}

a {
  color: cyan;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

#logo {
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

html {
  position: relative;
  min-height: 100%;
  font-family: monospace !important;
  font-size: 16px;
}

td {
  padding-right: 10px;
}

dialog {
  z-index: 99;
}